<div class="class row justify-content-center" *ngIf="autor$ | async as autor">
    <div class="class col-xs-12 col-sm-6 col-md-6 justify-content-center">
        <div class="class card">
            <div class="class image">
                <img [src]="" [alt]="autor.nombre" class="card-img-top">
            </div>
            <div class="class card-inner">
                <div class="class header">
                    <h2>{{autor.nombre | slice: 0:15}}</h2>
                    <h4 class="text-muted">{{autor.ap_paterno}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
