<div class="main-content">
    <div class="header">
        <h1>{{titulo}}</h1>
        <button mat-raised-button  color="primary" (click)="addAspirante()">
            <mat-icon>add</mat-icon>
            Aspirante
        </button>
    </div>
        <mat-form-field class="filter" appearance="standard">
            <mat-label><mat-icon matPrefix>search</mat-icon>Buscar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Nombre del aspirante" #input>
        </mat-form-field>
    <div class="mat-elevation-z8">
        <div class="table-container">
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <!-- Nombre Column -->
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>

                <!-- Apellido paterno Column -->
                <ng-container matColumnDef="ap_paterno">
                    <th class="prioridad-3" mat-header-cell *matHeaderCellDef mat-sort-header> APELLIDO PATERNO </th>
                    <td class="prioridad-3" mat-cell *matCellDef="let element"> {{element.ap_paterno}} </td>
                </ng-container>

                <!-- Apellido materno Column -->
                <ng-container class="prioridad-3" matColumnDef="ap_materno">
                    <th class="prioridad-3" mat-header-cell *matHeaderCellDef mat-sort-header> APELLIDO MATERNO </th>
                    <td class="prioridad-3" mat-cell *matCellDef="let element"> {{element.ap_materno}} </td>
                </ng-container>

                <!-- Estado Column -->
                <ng-container matColumnDef="matricula">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO </th>
                    <td mat-cell *matCellDef="let element"> {{element.estado.estado}} </td>
                </ng-container>

                <!-- ACTIVO Column -->
                <ng-container matColumnDef="activo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTIVO </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="chip">
                            {{element.activo}}
                        </div> 
                    </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTION </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="editAspirante(element)" color="primary">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="deleteAspirante(element.id)" color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>
        </div>
        <mat-paginator [length]="resultsLength" [pageSize]="5" aria-label="Select page of alumnos"></mat-paginator>
    </div>
</div>
