<div class="container">
    <div class="header">
        <h1>{{nombreAspirante}}</h1>
        <h2>{{estadoAspirante}}</h2>
        <button mat-raised-button (click)="addAspirante()" color="primary">
            <mat-icon>add</mat-icon>
            {{actionBtn}}
        </button>
    </div>
    <div class="container-expansion">
        <form  [formGroup]="areaForm">
        <mat-accordion class="example-headers-align" multi>
            <!--primer panel-->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>account_circle</mat-icon>
                    </mat-panel-title>
                    <mat-panel-description>
                        Datos personales
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <h3 mat-subheader>Datos Personales</h3>
                <mat-divider></mat-divider>
                <div class="form-datos-personales">
                    <!--Campo nombre-->
                    <mat-form-field  form class="form-field" appearance="fill">
                        <mat-label>Nombre(s)</mat-label>
                        <input type="text" matInput placeholder="Nombre(s)" formControlName="nombre"/>
                        <mat-icon matPrefix>person</mat-icon>
                    </mat-form-field>
                    <!--Campo apellido paterno-->
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>Apellido Paterno</mat-label>
                        <input type="text" matInput placeholder="apellido paterno" formControlName="ap_paterno">
                        <mat-icon matPrefix>person</mat-icon>
                    </mat-form-field>
                    <!--Campo apellido paterno-->
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>Apellido Materno</mat-label>
                        <input type="text" matInput placeholder="apellido materno" formControlName="ap_materno">
                        <mat-icon matPrefix>person</mat-icon>
                    </mat-form-field>
                    <div class="container-form-short">
                        <!--Campo genero-->
                        <mat-form-field appearance="fill">
                            <mat-label>Genero</mat-label>
                            <mat-select formControlName="genero">
                                <mat-option value="F">F</mat-option>
                                <mat-option value="M">M</mat-option>
                                <mat-option value="X">X</mat-option>
                            </mat-select>
                            <mat-icon matPrefix>person</mat-icon>
                        </mat-form-field>
    
                        <!--Campo edad-->
                        <mat-form-field appearance="fill">
                            <mat-label>Edad</mat-label>
                            <input type="text" matInput placeholder="20" formControlName="edad">
                            <mat-icon matPrefix>person</mat-icon>
                        </mat-form-field>
                    </div>
    
                    <!--Campo fecha nacimiento-->
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>Fecha de nacimiento</mat-label>
                        <input type="date" matInput placeholder="2022/01/10" formControlName="fecha_nacimiento" >
                    </mat-form-field>
    
                    <!--Campo nacionalidad-->
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>Nacionalidad</mat-label>
                        <input type="text" matInput placeholder="Mexicana" formControlName="nacionalidad">
                        <mat-icon matPrefix>language</mat-icon>
                    </mat-form-field>
    
                    <!--Campo CURP-->
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>CURP</mat-label>
                        <input type="text" matInput placeholder="SASO0750909HDFNNS05" formControlName="curp">
                        <mat-icon matPrefix>person</mat-icon>
                    </mat-form-field>
    
                    <!--Campo RFC-->
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>RFC</mat-label>
                        <input type="text" matInput placeholder="SASO075090XXX" formControlName="rfc">
                        <mat-icon matPrefix>person</mat-icon>
                    </mat-form-field>
                </div>
            </mat-expansion-panel>
            <!--segundo panel-->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>account_circle</mat-icon>
                    </mat-panel-title>
                    <mat-panel-description>
                        Contacto
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <h3 mat-subheader>Datos de contacto</h3>
                <mat-divider></mat-divider>
                <div class="form-datos-contacto">
                    <!--Campo Telefono-->
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>Telefono</mat-label>
                        <input type="tel" matInput placeholder="5555555555" formControlName="telefono">
                        <mat-icon matPrefix>phone_android</mat-icon>
                    </mat-form-field>
                
                    <!--Campo Correo -->
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>Correo</mat-label>
                        <input type="email" matInput placeholder="correo@gmail.com" formControlName="correo">
                        <mat-icon matPrefix>email</mat-icon>
                    </mat-form-field>
                </div>
            </mat-expansion-panel>
            <!--tercer panel-->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>account_circle</mat-icon>
                    </mat-panel-title>
                    <mat-panel-description>
                        Datos académicos
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <h3 mat-subheader>Datos </h3>
                <mat-divider></mat-divider>
                <div class="form-datos-academicos">
                    <!--Campo estado-->
                    <mat-form-field  appearance="fill">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="estado">
                            <mat-option *ngFor="let item of listEstados" [value]="item.id">{{item.estado}}</mat-option>
                        </mat-select>
                        <mat-icon matPrefix>school</mat-icon>
                    </mat-form-field>

                    <!--Campo Área de año de ingreso-->
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>Año de ingreso</mat-label>
                        <input type="number" matInput placeholder="año de ingreso" formControlName="anio_ingreso">
                        <mat-icon matPrefix>school</mat-icon>
                    </mat-form-field>
                    <!--Campo trimestre de ingreso -->
                    <mat-form-field appearance="fill">
                        <mat-label>Trimestre de ingreso</mat-label>
                        <mat-select formControlName="trimestre_ingreso">
                            <mat-option value="P">P</mat-option>
                            <mat-option value="O">O</mat-option>
                            <mat-option value="I">I</mat-option>
                        </mat-select>
                        <mat-icon matPrefix>school</mat-icon>
                    </mat-form-field>
                </div>
            </mat-expansion-panel>
            <!--cuarto panel-->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>account_circle</mat-icon>
                    </mat-panel-title>
                    <mat-panel-description>
                        Adeudos
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <h3 mat-subheader>Adeudo de documentación </h3>
                <mat-divider></mat-divider>
                <div class="form-datos-personales">
                   <!--Campo adedudos-->
                <div class="container-table">
                    <table mat-table [dataSource]="dataSource" >
                      
                        <!-- id Column -->
                        <ng-container matColumnDef="id">
                          <th mat-header-cell *matHeaderCellDef> No. </th>
                          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
                      
                        <!-- Column -->
                        <ng-container matColumnDef="documento">
                          <th mat-header-cell *matHeaderCellDef> Documento </th>
                          <td mat-cell *matCellDef="let element"> {{element.documento}} </td>
                        </ng-container>
                      
                        <!-- Column -->
                        <ng-container matColumnDef="tipo">
                          <th mat-header-cell *matHeaderCellDef> Tipo </th>
                          <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
                        </ng-container>
                      
                        <!-- Column -->
                        <ng-container matColumnDef="activo">
                          <th mat-header-cell *matHeaderCellDef> Activo </th>
                          <td mat-cell *matCellDef="let element"> {{element.activo}} </td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>                      
                </div>
                </div>
            </mat-expansion-panel>
         </mat-accordion> 
        </form>       
    </div>
</div>

