  table {
    width: 100%;
  }

  .main-content{
    margin: 10px;
  }

  .mat-form-field {
    width: 100%;
    font-size: 14px;
    background-color: white;
  }

  
  td, th {
    width: 25%;
  }
  