<div class="container">
    <mat-stepper #stepper>
        <mat-step [stepControl]="firstFormGroup" errorMessage="Campos vacios.">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Datos del proyecto</ng-template>
            <!--Campo titulo-->
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>Titulo</mat-label>
                <input type="text" matInput placeholder="Titulo del proyecto" formControlName="titulo" required>
                <mat-icon matSuffix>edit</mat-icon>
            </mat-form-field>
            <!--Campo descripcion-->
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>Descripciòn</mat-label>
                <textarea matInput placeholder="Escribe una breve descripciòn"  formControlName="descripcion" required></textarea>
            </mat-form-field>
            <!--Campo tipo-->
            <mat-form-field appearance="outline" required>
                <mat-label>Tipo</mat-label>
                <mat-select formControlName="tipo">
                    <mat-option *ngFor="let tipo of listTipoProducto" [value]="tipo.id">{{tipo.tipo}}</mat-option>
                </mat-select>
                <mat-icon matSuffix>edit</mat-icon>
            </mat-form-field>
            <!--Campo fecha publicacion-->
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>Fecha de publicación</mat-label>
                <input type="date" matInput placeholder="2022/01/10" formControlName="fecha_publicacion" required>
            </mat-form-field>
            <!--Campo lgac-->
            <mat-form-field appearance="outline" required>
                <mat-label>LGAC</mat-label>
                <mat-select formControlName="lgac">
                    <mat-option value="CONFORT LUMÍNICO, HIGROTÉRMICO Y ACÚSTICO">CONFORT LUMÍNICO, HIGROTÉRMICO Y ACÚSTICO</mat-option>
                        <mat-option value="SUSTENTABILIDAD APLICADA AL DISEÑO BIOCLIMÁTICO">SUSTENTABILIDAD APLICADA AL DISEÑO BIOCLIMÁTICO</mat-option>
                        <mat-option value="TECNOLOGÍA Y MATERIALES APLICADOS A LA ARQUITECTURA BIOCLIMÁTICA">TECNOLOGÍA Y MATERIALES APLICADOS A LA ARQUITECTURA BIOCLIMÁTICA</mat-option>
                        <mat-option value="CONSERVACIÓN DE PAISAJES Y JARDINES">CONSERVACIÓN DE PAISAJES Y JARDINES</mat-option>
                        <mat-option value="DISEÑO DE PAISAJES Y JARDINES">DISEÑO DE PAISAJES Y JARDINES</mat-option>
                        <mat-option value="PLANIFICACIÓN DEL PAISAJE">PLANIFICACIÓN DEL PAISAJE</mat-option>
                        <mat-option value="CULTURA E IDENTIDADES URBANAS">CULTURA E IDENTIDADES URBANAS</mat-option>
                        <mat-option value="ESPACIO Y FORMA URBANA">ESPACIO Y FORMA URBANA</mat-option>
                        <mat-option value="HISTORIA URBANA">HISTORIA URBANA</mat-option>
                        <mat-option value="IMPRESIÓN EN TRES DIMENSIONES">IMPRESIÓN EN TRES DIMENSIONES</mat-option>
                        <mat-option value="SALUD Y MEJORAMIENTO EN LAS DISTINTAS DIMENSIONES DE LA VIDA">SALUD Y MEJORAMIENTO EN LAS DISTINTAS DIMENSIONES DE LA VIDA</mat-option>
                        <mat-option value="GESTIÓN DE DISEÑO">GESTIÓN DE DISEÑO</mat-option>
                        <mat-option value="INNOVACIÓN Y DESARROLLO SOSTENIBLE EN EL DISEÑO">INNOVACIÓN Y DESARROLLO SOSTENIBLE EN EL DISEÑO</mat-option>
                        <mat-option value="VISUALIZACIÓN DE LA INFORMACIÓN DIGITAL">VISUALIZACIÓN DE LA INFORMACIÓN DIGITAL</mat-option>
                        <mat-option value="DISEÑO DE LA INTERACCIÓN COGNITIVA INTELIGENTE">DISEÑO DE LA INTERACCIÓN COGNITIVA INTELIGENTE</mat-option>
                        <mat-option value="SISTEMAS DE VISUALIZACIÓN EN INFORMACIÓN CIENTÍFICA">SISTEMAS DE VISUALIZACIÓN EN INFORMACIÓN CIENTÍFICA</mat-option>
                        <mat-option value="ESTRATEGIAS DE GESTIÓN Y VINCULACIÓN DEL PATRIMONIO">ESTRATEGIAS DE GESTIÓN Y VINCULACIÓN DEL PATRIMONIO</mat-option>
                        <mat-option value="PATRIMONIO, SUSTENTABILIDAD Y MEDIO AMBIENTE">PATRIMONIO, SUSTENTABILIDAD Y MEDIO AMBIENTE</mat-option>
                        <mat-option value="REHABILITACIÓN, RECUPERACIÓN Y CONSERVACIÓN DEL PATRIMONIO CULTURAL URBANO Y ARQUITECTÓNICO">REHABILITACIÓN, RECUPERACIÓN Y CONSERVACIÓN DEL PATRIMONIO CULTURAL URBANO Y ARQUITECTÓNICO</mat-option>
                </mat-select>
                <mat-icon matSuffix>edit</mat-icon>
            </mat-form-field>
            <div>
              <p>Ve a un step diferente para ver el error</p>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" errorMessage="Campos vacios">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Grupo Autores</ng-template>
            <!--Campo autores-->
            <div class="button-agregar">
                <button mat-raised-button (click)="agregarAutor()" color="primary">
                    Agregar autor
                </button>
            </div>
            <div formArrayName="autores" class="list-autores" *ngFor="let autor of autores.controls; let i = index">
                <div class="input" [formGroupName]="i">
                    <mat-form-field class="form-field-autor" appearance="outline" >
                        <mat-label>Autor</mat-label>
                        <mat-select formControlName="autor">
                            <mat-option *ngFor="let item of listAutores" [value]="item.id">{{item.nombre}}</mat-option>
                        </mat-select>
                        <mat-icon matSuffix>edit</mat-icon>
                    </mat-form-field>
                    <mat-form-field class="form-field-orden" appearance="outline" >
                        <mat-label>Orden</mat-label>
                        <mat-select formControlName="orden">
                            <mat-option *ngFor="let orden of listOrden" [value]="orden.id">{{orden.orden}}</mat-option>
                        </mat-select>
                        <mat-icon matSuffix>edit</mat-icon>
                    </mat-form-field>
                </div>
                <div class="button">
                    <button mat-raised-button (click)="removerAutor(i)" color="warn">
                        Remover
                    </button>
                </div>
            </div>
            <div>
              <p>Ve a un step diferente para ver el error</p>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Documento</ng-template>
            <div class="button-aceptar">
                <p>De click en boton para cargar el documento probatorio deberá estar en formato PDF</p>
                <button type="button" mat-raised-button color="warn" (click)="fileInput.click()">Seleccionar Archivo</button>
                <input accept="application/pdf"  hidden class="form-control" type="file" #fileInput (change)="onChange($event)">
            
                <!--aqui se usa la variable bandera-->
                <div class="loading" *ngIf="loading">
                    <h3>El archivo se cargo con exito.</h3>
                    <mat-icon>check</mat-icon>
                </div>
            </div>
            <div class="button-aceptar">
                <p>Para concluir el registro de clic en registrar.</p>
                <button mat-flat-button (click)="addProduccion()" color="primary">Registrar Produción</button>
              </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </mat-step>
      </mat-stepper>
</div>
  
