<div class="container">   
    <div>
        <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- ID Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No </th>
            <td mat-cell *matCellDef="let autor"> {{autor.id}} </td>
        </ng-container>
    
        <!-- Progress Column -->
        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let autor">{{autor.nombre}}</td>
        </ng-container>
    
        </table>
    
    </div>
</div> 
